.about-us {
  background-color: @font-colorw;
  color: @font-colorb;
  margin-bottom: 85px;
}

.about-us__wrapper {
  margin: 0 auto;
  padding: 0 30px;
  min-width: 260px;
}

.about-us__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-us__title {
  font-size: 43px;
  line-height: 50px;
  padding-top: 35px;
}

.about-us__list-left,
.about-us__list-right {
  margin: inherit;
  padding: inherit;
  list-style: inherit;
}

.about-us__item {
  padding-top: 90px;
}

@media (min-width: @tablet-width) {
  .about-us__list {
    min-width: 668px;
    flex-direction: row;
  }

  .about-us__wrapper {
    min-width: 668px;
    padding: 0 50px;
  }

  .about-us__list-left,
  .about-us__list-right {
    width: 50%;
  }

  .about-us__item {
    padding-right: 98px
  }
}

@media (min-width: @desktop-width) {
  .about-us__wrapper {
    padding-left: 175px;
    padding-right: 50px;
  }
}
