.catalog {
  display: flex;
  background-color: @font-colorw;
  color: @font-colorb;
}

.catalog__wrapper {
  padding: 0 30px;
  margin: 0 auto;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
