.contacts {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: @font-colorw;
  color: @font-colorb;
  z-index: 1;
  font-size: 15px;
  line-height: 30px;
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
  min-width: 260px;
  margin: 0 auto;
  padding: 0 30px;
}

.contacts__title {
  padding-top: 42px;
  margin: 0;
  color: @font-colorb;
  .font-size-height(18px; 30px);
}

.contacts__all-info {
  color: #444444;
  font-weight: normal;
}

.contacts__email {
  color: #444444;
  text-decoration: none;
  border-bottom: 1px solid #62d1ba;
}

.contacts__email:hover {
  color: #46c1ae;
}

.contacts__email:active {
  opacity: 0.3;
}

.contacts__email-block {
  display: flex;
  flex-direction: row;
  margin-top: 26px;
  margin-bottom: 29px;
}

.contacts__adress-block {
  display: flex;
  flex-direction: row;
  margin-bottom: 37px;
}

.contacts__email-block .contacts__email,
.contacts__adress-block .contacts__adress {
  margin-left: 30px;
}

.contacts__write {
  width: 260px;
  margin-top: 40px;
  margin-bottom: 39px;
  margin-left: auto;
  margin-right: auto;
  padding: 14px 10px;
  .font-size-height(18px; 20px);
}

.contacts__map {
  width: 100%;
  height: 457px;
  background: url("../img/map-mobile@1x.jpg") no-repeat;
  background-size: cover;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background: url("../img/map-mobile@2x.jpg") no-repeat;
  }
}

@media (min-width: @tablet-width) {
  .contacts {
    display: block;
  }

  .contacts__wrapper {
    max-width: 768px;
    padding: 0 50px;
    margin: 0 auto;
  }

  .contacts__title {
    position: relative;
    padding-top: 77px;
    font-size: 43px;
    line-height: 50px;

    &::before {
      content: "";
      position: absolute;
      right: 3px;
      top: 62px;
      width: 47px;
      height: 81px;
      background: url("../img/icon-flag.svg") no-repeat;
    }
  }

  .contacts__email-block,
  .contacts__adress-block {
    padding-top: 23px;
  }

  .contacts__email-block {
    display: block;
  }

  .contacts__email-block .contacts__email,
  .contacts__adress-block .contacts__adress {
    margin-left: 20px;
    padding-bottom: 3px;
  }

  .contacts__email-adress {
    display: flex;
    flex-direction: row;
    .font-size-height(17px; 30px);
  }

  .contacts__adress {
    padding-left: 4px;
  }

  .contacts__all-info {
    display: flex;
    flex-direction: column;
  }

  .contacts__email {
    margin-right: 50px;
  }

  .contacts__map {
    position: inherit;
    width: 100%;
    margin-top: 3px;
    margin-bottom: 55px;
    background: url("../img/map-tablet@1x.jpg") no-repeat;
    background-size: cover;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background: url("../img/map-tablet@2x.jpg") no-repeat;
    }
  }

  .contacts__adress-block {
    margin-top: 26px;
    margin-bottom: 50px;
    margin-left: 1px;
  }

  .contacts__map img {
    width: 768px;
    height: 457px;
  }

  .contacts__wrapper--map {
    margin-top: 3px;
    padding: 0;

    &::before {
      display: none;
    }
  }

  .contacts__write {
    display: flex;
    width: 230px;
    margin-top: 46px;
    margin-bottom: 57px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 17px;
    line-height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    display: flex;
    flex-direction: row;
    max-width: 1150px;
    padding-left: 225px;
    margin-top: 135px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .contacts__wrapper {
    display: flex;
    flex-direction: row;
    width: 350px;
    padding: 0;
    margin: 0;
  }

  .contacts__map {
    position: relative;
    width: 525px;
    margin-top: 7px;
    background: url("../img/map-desktop@1x.jpg") no-repeat;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background: url("../img/map-desktop@2x.jpg") no-repeat;
    }
  }

  .contacts__all-info {
    flex-direction: column;
  }

  .contacts__email-adress {
    flex-direction: column;
  }

  .contacts__write {
    position: absolute;
    bottom: -3px;
    left: 225px;
  }

  .contacts__title {
    font-size: @h2-desktop-size;
    line-height: @h2-desktop-height;

    &::before {
      left: -112px;
      top: 69px;
    }
  }

  .contacts__map img {
    width: 525px;
    height: 457px;
  }

  .contacts__wrapper--map {
    width: 525px;
    height: 457px;
  }

  .contacts__email-block {
    margin-top: 26px;
    margin-bottom: 7px;
  }

  .contacts__adress-block {
    margin-top: 0;
    margin-bottom: 41px;
    margin-left: 0;
  }
}
