.main-nav {
  min-width: 320px;
  margin: 0 auto;
  color: @font-colorb;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 78px;
  padding-left: 75px;
  border-bottom: 1px solid #ececec;
  text-align: left;
}

.main-nav__button-search {
  display: block;
  background: none;
  border: none;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  text-align: left;
  padding: 0;
  padding-top: 25px;
}

.main-nav__link {
  .center-column();
  text-decoration: none;
  color: @font-colorb;
}

.events-nav,
.main-nav__delivery {
  display: none;
}

.main-nav__toggle {
  .pseudo-element();
  top: 32px;
  right: 30px;
  width: 21px;
  height: 20px;
  border: none;
  cursor: pointer;
}

.main-nav--opened .main-nav__toggle {
  background: url("../img/icon-menu-close.svg") no-repeat;
}

.main-nav--closed .main-nav__toggle {
  background: url("../img/icon-menu-open.svg") no-repeat;
}

.main-nav__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 22px;
  padding-bottom: 17px;
  background-color: @font-colorw;
  color: @font-colorb;
  border-bottom: 1px solid #ececec;
}

.main-nav__logo-image {
  margin-bottom: auto;
  margin-top: auto;
  align-self: center;
}

.main-nav__basket-picture,
.main-nav__search-picture {
  display: block;
  position: absolute;
  left: 35px;
}

.main-nav__item--basket {
  border-bottom: none;
}

.main-nav__basket-picture {
  top: 28px;
}

.main-nav__search-picture {
  top: 27px;
}

@media (max-width: @mobile-width-only) {
  .main-nav--closed .product-nav {
    display: none;
  }

  .main-nav--closed .action-nav {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .product-nav,
  .main-nav--nojs .action-nav {
    display: block;
  }

  .main-nav--closed .main-nav__logo {
    border: none;
  }
}

@media (min-width: @tablet-width) {
  .main-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
  }

  .main-nav__logo {
    align-items: start;
    min-width: 320px;
    border: none;
    padding: 0;
    padding-top: 5px;
  }

  .main-nav__logo img {
    width: 113px;
    height: 46px;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
  }

  .main-nav__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .main-nav__item {
    text-align: left;
    border: none;
    border-left: 1px solid #ececec;
    padding: 0;

    &--search {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 83px;
      align-items: center;
      padding-top: 36px;
      padding-bottom: 3px;
    }
  }

  .product-nav li {
    padding-left: 0;
    padding-top: 18px;
    padding-bottom: 10px;
    border: none;
    .font-size-height(15px; 24px);
  }

  .product-nav li:nth-child(2) {
    margin-left: 36px;
  }

  .product-nav {
    width: 334px;
    order: 2;
    font-size: 15px;
    line-height: 24px;
  }

  .action-nav {
    margin-left: auto;
    order: 1;
    .font-size-height(17px; 24px);
  }

  .main-nav__button-search {
    display: block;
    padding-top: 0;
    border: none;
    background: none;
  }

  .main-nav__delivery {
    display: flex;
    order: 3;
    margin-left: auto;
    padding: 17px 0;
    font-size: 15px;
    line-height: 24px;
    font-weight: normal;
  }

  .events-nav {
    display: none;
  }

  .main-nav__item--search a {
    font-size: 0;
    padding: 0;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__basket-picture,
  .main-nav__search-picture {
    display: block;
    position: initial;
  }

  .main-nav__item--basket {
    flex-direction: row;
    align-items: center;
    padding-right: 0;
  }

  .main-nav__basket-picture {
    margin: 0 30px;
  }

  .main-nav__link {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    margin-left: 0;
  }

  .main-nav__item {
    min-height: 78px;
  }

  .main-nav__logo {
    position: absolute;
    top: 4px;
    left: 500px;
  }

  .product-nav {
    order: 1;
    font-size: 17px;
  }

  .product-nav li {
    min-width: 185px;
    padding-top: 31px;
    padding-bottom: 34px;
    font-size: 17px;
  }

  .product-nav li:first-child {
    border-right: 1px solid #efefef;
  }

  .product-nav li:nth-child(2) {
    margin-left: 34px;
  }

  .events-nav li:nth-child(2) {
    margin-left: 61px;
  }

  .action-nav {
    order: 2;
    margin-left: auto;
    font-size: 17px;
    padding-left: 76px;
  }

  .main-nav__item--search {
    width: 83px;
    align-items: center;
    padding-bottom: 4px;
  }

  .main-nav__item--basket {
    flex-direction: row;
    align-items: center;
    padding-right: 0;
    margin-right: 4px;
    padding-bottom: 4px;
  }

  .main-nav__basket-picture {
    margin: 0 30px;
  }

  .events-nav {
    display: flex;
    order: 3;
    font-size: 15px;
    line-height: 24px;
  }

  .events-nav li {
    padding-top: 17px;
    border: none;
  }

  .main-nav__delivery {
    padding-top: 17px;
    margin-left: auto;
  }
}
