.page-footer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 30px;
  background-color: @grey;
  color: @font-colorb;
}

.page-footer__list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social {
  width: 100%;
  justify-content: space-evenly;
  margin-top: 28px;
}

.footer-copyright {
  margin: 30px auto;
}

.page-footer__link {
  display: block;
  &--instagram {
    width: 22px;
    height: 21px;
  }
  &--twitter {
    width: 23px;
    height: 20px;
  }
  &--fb {
    width: 15px;
    height: 28px;
  }
  &--academy {
    width: 27px;
    height: 34px;
  }
}

.page-footer__logo {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-footer {
    flex-direction: row;
    justify-content: space-around;
  }

  .page-footer__logo {
    display: block;
    margin-top: 28px;
  }
}
