.special-offer {
  position: relative;
  background-color: @font-colorw;
  color: @font-colorb;

  &::after {
    position: absolute;
    content: "";
    height: 18px;
    width: 100%;
    background: url("../img/bg-zigzag-line.svg") no-repeat;
    background-size: 100% 6px;
  }
}

.special-offer__wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 320px;
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;
}

.special-offer__description-all {
  display: flex;
  flex-direction: column;
  font-weight: normal;
}

.special-offer__description-all p {
  margin-top: 22px;
  .font-size-height(15px; 24px);
}

.special-offer__title {
  padding-bottom: 6px;
  padding-top: 27px;
}

.special-offer__icon {
  .font-size-height(17px; 20px);
  text-transform: uppercase;
  color: #63d1bb;
}

.special-offer__price {
  text-align: center;
  padding-top: 20px;
  font-size: 17px;
  line-height: 24px;
  color: #444444;
  font-weight: bold;
}

.special-offer__order {
  width: 100%;
  margin-top: 26px;
  margin-bottom: 35px;
  padding: 14px 0;
  .font-size-height(17px; 20px);
  font-weight: bold;
}

.special-offer__description {
  margin-top: 2px;
  font-size: 15px;
  line-height: 20px;
  border-collapse: collapse;
}

.special-offer__description tr {
  border-bottom: 1px solid #ececec;
}

.special-offer__description td {
  padding-top: 9px;
  padding-bottom: 10px;
}

.special-offer__key--right {
  padding-left: 15px;
}

.special-offer__product-picture {
  margin-top: 30px;
}

@media (min-width: @tablet-width) {
  .special-offer::after {
    position: absolute;
    content: "";
    height: 20px;
    width: 100%;
    bottom: -36px;
    background: url("../img/bg-zigzag-line.svg") no-repeat;
    background-size: 100% 20px;
  }

  .special-offer__wrapper {
    max-width: 768px;
    margin: 0 auto;
    padding-right: 50px;
    padding-left: 50px;
  }

  .special-offer__header {
    display: flex;
    flex-direction: row;
    padding-top: 46px;
    z-index: 10;
  }

  .special-offer__icon {
    width: 70px;
    margin-left: auto;
    margin-right: 28px;
    font-size: 17px;
    line-height: 17px;
    align-self: center;
    text-align: center;
    text-transform: uppercase;
  }

  .special-offer__description-all {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .special-offer__description {
    margin-top: 19px;
  }

  .special-offer__description-all p {
    margin-top: 42px;
    padding-right: 50px;
    font-size: 17px;
    line-height: 30px;
  }

  .special-offer__description-block {
    display: flex;
    flex-direction: column;
  }

  .special-offer__title {
    font-size: 43px;
    line-height: 50px;
    padding-top: 0;
  }

  .special-offer__product-picture {
    position: absolute;
    top: 122px;
    right: 50px;
  }

  .special-offer__description td {
    max-width: 5px;
  }

  .special-offer__price {
    text-align: left;
    padding-top: 56px;
    padding-left: 71px;
    .font-size-height(20px; 24px);
  }

  .special-offer__image img {
    width: 333px;
    height: 404px;
  }

  .special-offer__order {
    margin-top: 34px;
  }
}

@media (min-width: @desktop-width) {
  .special-offer::after {
    position: absolute;
    content: "";
    height: 40px;
    width: 100%;
    background: url("../img/bg-zigzag-line.svg") no-repeat;
    background-size: 100% 25px;
  }

  .special-offer__wrapper {
    max-width: 1150px;
    margin: 0 auto;
    padding-left: 225px;
    padding-right: 50px;
    z-index: 100;
  }

  .special-offer__description-all {
    width: 40%;
  }

  .special-offer__product-picture {
    width: 525px;
    height: 636px;
    top: 0;
    z-index: 1;
  }

  .special-offer__price {
    padding-top: 110px;
    padding-left: 73px;
  }

  .special-offer__title {
    padding-top: 77px;
    font-size: @h2-desktop-size;
    line-height: @h2-desktop-height;
  }

  .special-offer__order {
    margin-bottom: 75px;
  }

  .special-offer__description-all p {
    margin-top: 44px;
  }

  .special-offer__description {
    width: 292px;
    margin-top: 31px;
  }

  tr:first-child .special-offer__key--right {
    padding-right: 45px;
  }

  .special-offer__key--right {
    padding-left: 21px;
  }

  .special-offer__image img {
    width: 525px;
    height: 636px;
    margin-top: 72px;
  }

  .special-offer__description td {
    max-width: 100%;
  }

  .special-offer__icon {
    position: absolute;
    left: -128px;
    top: 140px;
  }

  .special-offer__header {
    position: relative;
  }
}
